.navbar-collapse .ms-auto {
  justify-self: end;
}

#banner {
    display: flex;
}
#banner li {
display: inline-block;
}

#test {
  position: absolute;
  top: 100px;
}

#test2 {
  position: absolute;
  top: 200px;
}


#banner {
  top:0px; 
  left: 0px;  
  background-color:#B2456E;
}

#content {
   left:0px;
    background-color: #FBEAE7;
}

#content>p {
  background-color: aqua !important;
}

#content>p {
  background-color: red;
}

#footer {
  left:0px; 
  background-color: #552619;
}



/* div ~ p {
  background-color: green;
} */


/* #content h4 {
  background-color: red;
} */
ol{
    list-style: none;
    margin: 0;
    padding :0;
  }
  
  ol li{
    clear: both;
    margin: 0 0 10px 0;
    padding: 0;
  }
  
  label{
    float: left;
    width: 150px;
  }
  
  input{ border: 1px solid #333; }
  
  input:focus{ background-color: #ffe; }
  
  .simpleColorContainer, .simpleColorDisplay{
    float: left;
  }
