

.navbar-logo {
  height: 50px; /* Adjust this value as needed */
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#banner {
  background-color:#B2456E;
}


#challenge .card {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#challenge .card:hover {
  transform: scale(0.5);
  opacity: 0.5;
}


#content {
   left:0px;
    background-color: #FBEAE7;
    flex: 1;
}


#footer {
  left:0px; 
  background-color: #552619;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

